<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <appSettings>  
    <!-- MVC Setting-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <!-- MVC Setting -->
    <!--Epi Info Web Survey  Version-->
    <add key="EIWS_Version" value="1.3.0.1"/>
    <!--Epi Info Web Survey  Version-->
    <!--Email notification-->
    <add key="EMAIL_USE_AUTHENTICATION" value="true"/>
    <add key="EMAIL_USE_SSL" value="true"/>
    <add key="EMAIL_SUBJECT" value="This is the Subject line"/>
    <add key="EMAIL_FROM" value="epiinfowebsurvey@gmail.com"/>
    <add key="EMAIL_PASSWORD" value="ml@et+jh@et+nd@et"/>
    <add key="SMTP_PORT" value="587"/>
    <add key="SMTP_HOST" value="smtp.gmail.com"/>
    <!--Email notification-->
    <!-- Log Setting -->
    <add key="LOGGING_SEND_EMAIL_NOTIFICATION" value="FALSE"/>
    <add key="LOGGING_ADMIN_EMAIL_ADDRESS" value="sax5@cdc.gov"/>
    <add key="LOGGING_EMAIL_SUBJECT" value="subject"/>
    <!-- Log Setting -->
    <!-- Caching-->
    <add key="CACHE_IS_ON" value="FALSE"/>
    <add key="CACHE_DURATION" value="20"/>
    <add key="CACHE_SLIDING_EXPIRATION" value="TRUE"/>
    <!-- Caching-->
    <!--Messages-->
    <add key="SURVEY_NOT_EXISTS" value="The Survey does not exist. Please check the survey link and try again."/>
    <add key="SURVEY_SUBMITED_MESSAGE" value="This survey has been submitted."/>
    <add key="SURVEY_CLOSED_MESSAGE" value="This survey is currently closed. Please contact the author of this survey for further assistance."/>
    <add key="SURVEY_SUBMISSION_MESSAGE" value="Thank you! Your survey has been submitted."/>
    <!--Messages-->
    <!--Integrated SurveyManagerService Setting-->
    <add key="URL" value="http://eiws.azurewebsites.net/Home/"/>
    <add key="AdminKey" value="A/kTiX1HhAef9pdWIbGCKslNOcEvoxqUrSWahJoB7uGN3+/YROi4alwj9UWZLmXy"/>
    <add key="maxBytesPerRead" value="2048000"/>
    <add key="BandwidthUsageFactor" value="10"/>
    <!--Bandwidth Usage Factor should be between 0 and 100 -->
    <!--Integrated SurveyManagerService setting-->
    <!-- Package Type -->
    <add key="INTEGRATED_SERVICE_MODE" value="TRUE"/>
    <!-- Package Type -->
    <!--Omniture settings Start-->
    <add key="OMNITURE_IS_ENABLED" value="FALSE"/>
    <!--Omniture settings End-->
    <!--User Interface Start-->
    <add key="CUSTOM_THEME" value="CLASSIC"/>
    <!--BLUE or CLASSIC-->
    <add key="TECHNICAL_SUPPORT_IS_ENABLED" value="FALSE"/>
    <add key="TECHNICAL_SUPPORT_EMAIL" value=""/>
    <add key="TECHNICAL_SUPPORT_PHONE" value=""/>
    <add key="FOOTER_LOGO_PATH" value=""/>
    <add key="SHOW_HOME_LOGO" value="FALSE"/>
    <add key="HOME_LOGO_PATH" value=""/>
    <!--User Interface End-->
    <!--Account Creation Start-->
    <add key="ACCOUNT_TYPE" value=""/>
    <!--Can have two values (USER OR ORGANIZATION) -->
    <add key="BINDING_PROTOCOL" value="Basic"/>
    <add key="WINDOW_AUTHENTICATION" value="No"/>
    <add key="ENDPOINT_ADDRESS" value="http://eiws.azurewebsites.net/SurveyManagerService.svc"/>
    <add key="NOTIFY_ADMIN_IS_ENABLED" value="False"/>
    <add key="APPLICANT_VALIDATION_IS_ENABLED" value="False"/>
    <add key="SYSTEM_ADMIN_EMAIL" value="me@here.now"/>
    <!--Email address included in the body of the email for account creation -->
    <add key="NOTIFY_ADMIN_EMAIL" value="me@here.now"/>
    <!--Email address to which notifications go out-->
    <add key="EPI_INFO_DOWNLOAD_URL" value="http://wwwn.cdc.gov/epiinfo/7/"/>
    <!--Account Creation End-->
    <!--Pre-Filled Responses Start-->
    <add key="ResponseURL" value="http://eiws.azurewebsites.net/Survey/"/>
    <!--Pre-Filled Responses End-->
    <!-- Encryption Keys -->
    <!-- To Do: Update Encryption Keys. Use EWAV Encryption Utility to generate keys for your system -->
    <!-- Created 5/7/2014 1527 PM  by user01  -->
    <!-- GUID:  23F0A40D-30E2-45BE-B491-996317EA9163 -->
    <!-- WARNING:  -->
    <!-- Once users, datasources or connection strings have been added to the database these keys *cannot* be modified. -->
    <!-- If these keys are modified all existing encrypted data will be invalid.  -->
    <!-- WARNING:  -->
    
    <!--<add key="KeyForConnectionStringPassphrase" value="atKjwl1YhPv94716lQ8aEophUSm2mz+9VkMzDgzRgscoPsRYJ2/vRs7eJTf43X6r/PiBQS2Pb99lzoA0DAVxfmwToq1QXDgovFCZP+axtINlw9vbidyz9cG0Ty3LNjxCYuMoIw=="    />
    <add key="KeyForConnectionStringSalt" value="LwKTr/KY9ILBwtIDVIvrO9zwXx1f101FiUMgwTti82LCY0Erdrrdu45vaVQntXe6kD0JjK1RXkLL8HdmuzPSEYsvtIKDJQ8SGdAtzHWpYrpkdXmcd5bi/pLO4UdL1H3f2ZfpZg=="    />
    <add key="KeyForConnectionStringVector" value="Z5AIQts7a6hFewK/"    />-->
    <!-- End Encryption Keys -->
  </appSettings>
  <connectionStrings>
    <!-- Connection string only relevant if the deployment mode uses the service embedded in the project -->
    <!--<add name="EIWSEntities" connectionString="ZB9j4lDfu3TKnIZ+DU0M+Wgiwd90ysv0TTr9meqLYB91wwQoGQTabrOOwMBWNFLV48PcDXR7OAkFQYxhjN87IKzW1ueDk861PmzGPDrmt0IxsKpeL3bFfaX6r5GnBC4K/0MeReTiJ7YGedDUwtrtsx+8eOxAusj2LW25tTdwGCOz/qLhitzcJkzqS7IWQNb+tE2wny7wecctDYCGSdrK3OcZVQWHVFourq+H5pIbt84o8Zw9vJ6gXslRfxr1N0SHHnLxGCG8UlDMXJWld42xQtEmHaheprDVZpPF581m9MW6tvogwhume4aQiGrPow4f+oURG8rOZpH7zGQjk7E1v068FNpPEy1TaW5AGhSTQEvJV2Lai6z4Oliq+Ex/AeAPBgZtC7y/m5rQOdwoBsVh70NNg9zyguRT6btVion21H8="/>
    <add name="EIWSADO" connectionString="FYIm2c8X8HwggdpONs5gVliMrOJrDAVrk4O6BU9mt/81eX4400y2thFYwjR8YGWcjpcE/PIUi3YTIcoUYgrR3esA6Qj0yBQLiAjLsEpaCMOfGMBildJEa2bf0Cj4OR3AZKsxEiBnI7BhutV+E9Nq2ymDJZrG+zQLnQWPDNPUvXE5h2wxT1FnsErLJF3Tr7AI"/>-->
    <!-- Cloud MSDN -->
    <!--<add name="EIWSEntities" connectionString="ZB9j4lDfu3TKnIZ+DU0M+Wgiwd90ysv0TTr9meqLYB91wwQoGQTabrOOwMBWNFLV48PcDXR7OAkFQYxhjN87IKzW1ueDk861PmzGPDrmt0IxsKpeL3bFfaX6r5GnBC4K/0MeReTiJ7YGedDUwtrtsx+8eOxAusj2LW25tTdwGCOz/qLhitzcJkzqS7IWQNb+tE2wny7wecctDYCGSdrK3OIVdFuseE+eN2JltxFb5+gjWYMaKdQ3KlnHgqnnODv6a6oqoqM6Eiipn26a8hK5jMi7aZU9ZFZrEGsPwRSK8L71RIJVCCaFjeR6T4qrXUWyZGTBZpWGbU5whdOghdrVoPmrtF3CvbBekm48oodyIs4Ns66MVeZFoJGl/1O9ssOjh3Y/+NegBKzrqRYVtq1Xzgu0zOO/65WSX5eOAXW+xm995S7Xz0FRyjR6m7is4x6E"/>
    <add name="EIWSADO" connectionString="keWBJGzeZTfWO4ILmbyZfdR9/6W1y+TtKH4Jx7ExuWTqJfq+cWUwuPftBsK36UGKkvnCalgUM5RFKwSzCNfOtM9pgUof49uycGmc0TJdK2/cMtI70o/9ihxCVfTTIDyAh3Z8gHYlNzK3ArDBI/JHK5YwP42FP3jypAfdFwYctqnkMU2kiRkiwvcbHb8M/UE3"/>-->
   <!--EIWSRC-->
    <add name="EIWSEntities" connectionString="ZB9j4lDfu3TKnIZ+DU0M+Wgiwd90ysv0TTr9meqLYB91wwQoGQTabrOOwMBWNFLV48PcDXR7OAkFQYxhjN87IKzW1ueDk861PmzGPDrmt0IxsKpeL3bFfaX6r5GnBC4K/0MeReTiJ7YGedDUwtrtsx+8eOxAusj2LW25tTdwGCOz/qLhitzcJkzqS7IWQNb+tE2wny7wecctDYCGSdrK3OcZVQWHVFourq+H5pIbt84o8Zw9vJ6gXslRfxr1N0SHHnLxGCG8UlDMXJWld42xQg/Wr+gvq8lFgH/UQGoYFIWKKHNEH+ZmKjMq7YhaHY676PGv307Ix+4pz974M3wjni/XHiIAFzYFEGvHwF0eE7wi/KYk6UKvDAcqTFcvd1q9UCkbpkDJ28l1ZTkJmcesvAZZiwRUFDK3t+4R+TwqdFQ="/>
    <add name="EIWSADO" connectionString="FYIm2c8X8HwggdpONs5gVliMrOJrDAVrk4O6BU9mt/81eX4400y2thFYwjR8YGWcjpcE/PIUi3YTIcoUYgrR3esA6Qj0yBQLiAjLsEpaCMOfGMBildJEa2bf0Cj4OR3AZKsxEiBnI7BhutV+E9Nq2ymDJZrG+zQLnQWPDNPUvXFecma44zcvxkBm1rLCfPtc"/>

  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="20"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="Off"/>
    <globalization culture="en-US" uiCulture="en-US"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:22588/SurveyManagerServiceV4.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerServiceV4"
        contract="SurveyManagerServiceV4.IManagerServiceV4" name="BasicHttpBinding_IManagerServiceV4" />
      <endpoint address="http://localhost:59584/SurveyDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
        contract="DataServiceClient.IDataService" name="BasicHttpBinding_IDataService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="999999999" maxReceivedMessageSize="999999999"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000"
            maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IManagerServiceV4" />
        <binding name="BasicHttpBinding_IDataService" />
      </basicHttpBinding>
    </bindings>
    <services>
      <!--Service endpoint for Epi Info Web Survey Manager Service included with the web application and configured using basicHttpBinding-->
      <service name="Epi.Web.WCF.SurveyService.ManagerService" behaviorConfiguration="">
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IManagerService" bindingConfiguration="BasicHttpBinding_IService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="Epi.Web.WCF.SurveyService.ManagerServiceV2" behaviorConfiguration="">
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IManagerServiceV2" bindingConfiguration="BasicHttpBinding_IService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="Epi.Web.WCF.SurveyService.ManagerServiceV3" behaviorConfiguration="">
        <endpoint address="" binding="basicHttpBinding" contract="Epi.Web.WCF.SurveyService.IManagerServiceV3" bindingConfiguration="BasicHttpBinding_IService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>