################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EIWS_BLL_Core
/Epi.Web.CheckCodeEngine
/Epi.Web.Common/bin
/Epi.Web.Common/obj
/Epi.Web.EF
/Epi.Web.Interfaces
/Epi.Web.SurveyManager_Test/obj/x86/Debug
/Epi.Web.WCF.PublishServer
/packages
/SurveyManagerInterface
/Epi.Web/obj
/Epi.Web/Properties
/Epi.Web/bin/zh-Hant
/Epi.Web/bin/zh-Hans
/Epi.Web/bin/ru
/Epi.Web/bin/ko
/Epi.Web/bin/ja
/Epi.Web/bin/it
/Epi.Web/bin/fr
/Epi.Web/bin/es
/Epi.Web/bin/de
/Epi.Web/Epi.Web.csproj.user
/Epi.DynamicForms.Core/bin
/Epi.DynamicForms.Core/obj/Debug
/Epi.DynamicForms.Core/obj/Release
*.pdb
*.pdb
*.pdb
*.pdb
*.pdb
