html, body 
 { 
 margin:0; 
 padding:0; 
 height: 100%;
 } 

body 
 {
 background: linear-gradient(to right, #fbfbfc, #e5e5e5);
 }
 
#container
 {
 width: 840px;
/* min-height: 99%;*/
min-height:30%;
 position:relative;
 margin: auto;
 background-color: #fff;
 color: #333;
 border: 1px solid #4e9689;
 margin-top:15px;
 line-height: 130%;
 /*-moz-border-radius: 10px;
 border-radius: 10px;
 -moz-box-shadow: 10px 10px 5px #888;
 -webkit-box-shadow: 10px 10px 5px #888;
 box-shadow: 10px 10px 5px #bfbfbf;*/
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
/*behavior: url('../Scripts/PIE.htc');*/
/*background-image:url('../images/bgdraft.png');
background-repeat:repeat-y;
background-position: center center;
background-size: stretch;
background-origin:content-box;*/
 }
 
#header
 {
 padding: 0.5em 0.5em 1.0em .5em;
 background-color: #40A19E;
 border-bottom: 1px solid #80c0be;
 /*-moz-border-radius: 10px 10px 0 0;
 border-radius: 10px 10px 0 0;
 behavior: url('../Scripts/PIE.htc');*/
 color: #ffffff;
 }

#header h1
 {
 padding: 0;
 margin: 0;
 font-size: 16pt;
 font-weight: bold;
 }

#content
 {
 clear:both;
 margin-left: 0.1em;
 margin-right: 0.1em;
 
 /*padding: 1em;*/
 /*font: 10pt;*/
/* padding-bottom:80px; */
 }
#ModEnvheadrer
{ 
text-align:center ;
margin: 10px;
padding:5px;
/*stroke-width:1px;
stroke:#eaeaea;*/
border: 1px solid #eaeaea;
background: #f7f7f7;
margin-bottom: 10px; 
margin-left: 0.5em; 
margin-right: 0.5em;*
-moz-border-radius: 10px;
-webkit-border-radius : 10px;
-khtml-border-radius: 10px;
 border-radius: 10px;
 font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

/*#content h2
 {
 font-size: 12pt;
 font-weight: bold;
 }*/
 
.MvcDynamicForm
 {
  /*width:800px; 
  height:1200px;*/
  /*min-height:600px;*/
  display:block; 
 /* border:1px solid white; */
  position:relative;  
 }
 
#infobox
 {
 /*margin-top: -1em;*/
 border-right: 1px solid #4e9689 inset;
 padding: 0.5em;
 font-size: 9pt;
/* margin-bottom: 1em;*/
 background: linear-gradient(to bottom, #fbfbfc, #e6e7ed);
 min-height:20px;
 }
/*DIv Style for Splash Page*/
#surveyno
 {
 float: left;
 width: 33%;
 white-space:normal; 
 word-wrap: break-word;
 }

#orgn
 {
 float: right;
 width: 55%;
 white-space:normal;
 word-wrap: break-word;
  text-align:right;
 }

#dept
 {
 display:none;
 visibility:collapse;
 float: right;
 width: 33%;
 text-align: right;
 white-space:normal;
 word-wrap: break-word;
 }
/*---*/
/*Div Style for pagination*/
#exit
 {
 float: right;
/* width: 12%;*/
 position:relative;
 vertical-align:middle;
/* margin-right: -10px;*/
 }
/*---*/
/*Div Style for Previous, Save, Continue*/
#prev
 {
 float: left;
 width: 33%;
 vertical-align:middle;
 }

#savediv
 {
 float: left;
 width: 33%;
 margin: auto;
 vertical-align:middle;
 }

#next
 {
 float: right;
 width: 33%;
 vertical-align:middle;
 }
/*---*/



.pages a#anchorPrev {
 background-image: url('../images/prev_classic.png');
 background-repeat:no-repeat;
 background-position:center;
}

.pages a#anchorNext {
 background-image: url('../images/next_classic.png');
 background-repeat:no-repeat;
 background-position:center;
}

.boldlabel
 {
 font-weight: bold;	
 }
 
#nav
{
width: 95%;
text-align: center;
/*border-top: 1px solid #244640;*/
margin: 0 auto;
padding: 0em 0.5em 0.5em 0.5em;
position:relative;
bottom: 100px;
/*bottom:80px;*/
/*clear:both;*/
}


#footer
 {
 position:absolute;
 bottom:0px;
 width: 100%;
/**/ padding: .5em 0;
 color: #333;
 background: linear-gradient(to bottom, #e6e7ed, #fbfbfc);
 border-top: 1px solid #4e9689;
 /*-moz-border-radius: 0 0 10px 10px;
 border-radius: 0 0 10px 10px;*/
 height: 40px;
 vertical-align:middle;
 /*-moz-box-shadow: -1px -1px 0px 0px #888;
 -webkit-box-shadow: 1px -1px 0px 0px #888;
 box-shadow: 0px -1px 1px 0px #888;*/
 /*behavior: url('../Scripts/PIE.htc');*/
 }

/*#content h2 { margin: 0 0 .5em 0; }*/

#footleft
 {
 float:left;
 width: 55%;
 /**/margin-left: 10px;
 }

#footright
 {
 float: right;
 /**/margin-right: 10px;
 margin-top:-3px;
 }

button.exitsurvey:hover,  button.save:hover,  button.savetop:hover, button.prev:hover, button.next:hover, button.begin:hover, button.submits:hover, button.login:hover, a.returnto:hover, button.printbottom:hover 
 {
 cursor: pointer;
 background-color: #339a98;
 /*opacity: 0.8;*/
 }

img.button 
 {
 vertical-align:text-top;
 }
 
button.save, button.prev, button.next, button.begin, button.login, button.savetop
 {
 border: 1px #4e9689 solid;
 /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
 padding: 3px 5px 3px 5px;
 color:#ffffff;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-size: 10pt;
 font-weight:bold;
 width: 150px;
 background: #00827e; 
/*border: 1px solid rgba(0,0,0,0.5);
 background: rgba(195,255,104,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5),  0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
  /*behavior: url('../Scripts/PIE.htc');*/
 }

button.save
{
    background-image: url('../images/save.png');
    background-position:10px center;
    background-repeat: repeat-x;
    background-repeat:no-repeat;
    padding-left:20px;
    width:120px;
}

button.savetop {width: 40px !important; text-align: center; padding: 3px 5px 1px 5px !important; margin-top: -1px; vertical-align: middle;}

button.prev
{
  background-image: url('../images/arrow_left.png');
  background-position:10px center;
  background-repeat:no-repeat;
  padding-left:25px;
  text-align:left;
  width:110px;
 
}

button.next
{
  background-image: url('../images/arrow_right.png');
  background-position:84px center;
  background-repeat:no-repeat;
  width:110px;
    /*padding-left:20px;*/
}

button.submits
{
  background-image: url('../images/checkmark.png') !important;
  background-position:10px center !important;
  background-repeat:no-repeat !important;
    /*padding-left:20px;*/
}

button.exitsurvey
 {
 border: 1px #4e9689 solid;
 /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
 background: #00827e;
 /*background: rgba(255,255,255,0.9);*/
 width: 80px;
 padding: 2px;
 font-size: 8pt;
 font-weight:bold;
 height: 28px;
 color: #ffffff;
 /*behavior: url('../Scripts/PIE.htc');*/
 }
 
 button.printbottom
 {
   border: 1px #4e9689 solid;
 /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
 padding: 3px 5px 3px 5px;
 color:#ffffff;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-size: 10pt;
 font-weight:bold;
 width: 80px;
 cursor:pointer;
 border: 1px solid #4e9689 );
 background: #00827e; 
 /*background: rgba(255,255,255,0.9); */
 /*box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
 
 
 }
 
 
 button.begin
 {
 display: block;
 font-size: 12pt;				
 font-weight: bold;
 letter-spacing: 1px;
 padding: 4px 10px 8px 10px;
 margin: 0 auto;
 width: 200px;
 height: 40px;
 text-align: center;
 }

.success
 {
 border: 2px solid #69bc45; 
 /*background: #e6ffbf; 
 margin-bottom: 100px; 
 margin-left: 0.5em; 
 margin-right: 0.5em; */
 margin: 1em;
 padding: 10px;
 font-size: 10pt;
 font-weight: bold;
 /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
behavior: url('../Scripts/PIE.htc');*/
 }

button.submits
 {
 border: 1px #4e9689 solid;
 /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
 padding: 3px 5px 3px 5px;
 color:#ffffff;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-size: 10pt;
 font-weight:bold;
 max-width: 160px;
 width:100%;
 padding-left:10px;
 border: 1px solid #4e9689 ;
 background: #00827e; 
 /*background: rgba(191,231,234,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
/*behavior: url('../Scripts/PIE.htc');*/
 }

 #attention
 {
 border: 1px solid #ffca0a; 
 background: #fff5c1; 
 margin-bottom: 10px; 
 margin-left: 0.5em; 
 margin-right: 0.5em; 
 padding: 10px;
 font-size: 10pt;
 font-weight: bold;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
/*behavior: url('../Scripts/PIE.htc');*/
 }
 /*Form Styles*/
 
.EpiLabel  {
	/*position:absolute;*/
	color: #3f3f3f;   
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, AriaL, sans-serif;  
	font-size: 10pt;  
	/*white-space: pre;*/
	white-space:normal;
	display:block;
}

 textarea
 {
     resize: none; 
 }
 
/*.error {
    font: normal 12px arial;
    padding: 3px;
    margin: 3px;
    background : #ffffff;
    border: 1px solid #c00;
}
.error {
    background: none repeat scroll 0 0 #FBE1DD;
    border: 1px solid #E6482D;
    border-radius: 10px 10px 10px 10px;
    font-size: 10pt;
   /* font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 10px;
}*/

.image
{
float:left;
width:40px;
}

 .errormsg
{
border: 1px solid #e6482d; 
 background: #fbe1dd; 
 margin-bottom: 10px; 
 margin-left: 0.5em; 
 margin-right: 0.5em; 
 padding: 10px;
font-size: 9pt;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
/*behavior: url('../Scripts/PIE.htc');*/
}

.message
{
float:right;
width: 94%;
vertical-align: top;
}

button.copylink
{
   background-color:transparent;
   border:none;
   color: #0a2695;
   text-decoration: underline;
   cursor:pointer;
   padding-left: 20px;
   font-family: Segoe UI;
   font-weight:bold;
 }
 
 button.copylink:hover
{
   text-decoration: none;
     
 }
 
/*Styles for Log In Page*/
.Logsin
{
  width: 340px; 
  border: 1px solid #4e9689;  
  /*-moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  -khtml-border-radius: 10px; 
  border-radius: 10px; 
  behavior: url('../Scripts/PIE.htc');*/
  margin-left:auto;
  margin-right:auto;
}

.LogHead
{
    background:#cce6e5; 
    padding-top:5px; 
    padding-left:20px; 
    /*-moz-border-radius: 10px 10px 0 0; 
    border-radius: 10px 10px 0 0; 
    behavior: url('../Scripts/PIE.htc');*/
}

.logbody
{
    padding:0px 20px 40px 20px;
}

.validation-summary-errors
{
    
   /* background: #fbe1dd;*/
    border: 1px solid #ff333d;
    padding:3px 5px 3px 2px;
    margin:5px 0 10px 0;
   /* -moz-border-radius: 10px; 
    border-radius: 10px; 
    behavior: url('../Scripts/PIE.htc');*/
}
.validation-summary-errors li
{
   
    background-image: url('../images/error2.png') !important;
    background-position:1px center !important;
    background-repeat:no-repeat !important;
    font-size: 10pt;
    font-weight: bold;
    color: #000;
    list-style-type:none;
    margin-left:2px;
    padding-left: 30px;
    font-size:9pt;
    
}

.validation-summary-errors ul
{
    margin:2px 0 2px 0; 
    padding:0px;
    
}

a.returnto
 {
 border: 1px #4e9689 solid;
/* -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
 padding: 5px 15px 5px 15px;
 color:#ffffff;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-size: 10pt;
 font-weight:bold;
 width: 150px;
 background: #00827e; 
 /*background: rgba(195,255,104,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
  text-decoration: none;
  /*behavior: url('../Scripts/PIE.htc');*/
 }

/*Tooltip Styles*/
.tooltip {
    display:none;
    background:url('../images/black_arrow2.png') no-repeat;
    background-position: -5px 10px;
    font-size:9pt;
    font-family:Segoe UI;
    font-weight:bold;
    height:80px;
    width:150px;
    padding:26px 22px 20px 38px;
    color:#333;
  }

/*for TimePicker*/
   .ui-timepicker-div .ui-widget-header { margin-bottom: 8px;font-size:75%; }
   .ui-timepicker-div dl { text-align: left;font-size:75%; }
   .ui-timepicker-div dl dt { height: 20px; margin-bottom: -20px;font-size:11px; }
   .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; font-size:11px; font-weight:bold;}
   .ui-timepicker-div td { font-size: 1em;font-size:75%; }
   .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0;font-size:75%; }          
   .ui-datepicker .ui-datepicker-buttonpane {font-size:65%;}         


fieldset {
    border:1px solid #c4c4c4;
    padding:2px;
}

legend {
    white-space: normal; 
    width: 100%;
    margin-left: -7px;
}

legend span 
{
    background-color: white;
    float:left;
    display:block;
}

/* This wraps all html rendered by Mvc Dynamic Forms */
div.MvcDynamicForm {}

/* By default, every field is wrapped with this.
   The developer can modify the wrapping element
   and nearly all class names of rendered Html  */
div.MvcFieldWrapper
{    
   /* margin-bottom: 2em;  provides spacing between fields */
}

/* These are used to style the labels that accompany
   your input elements. */
label.MvcDynamicFieldPrompt, label.MvcDynamicFieldError
{
    display: block; /* causes labels to appear above their input elements */
}

label.MvcDynamicFieldError
{
    color:Red; /* ERROR! */
}

/* Used to style the unordered lists that contain
   radio button lists and checkbox lists */
ul.MvcDynamicOrientableList
{
    list-style-type: none; /* prevents bullets from showing next to input elements */
    padding:0  0px;
    
}

ul.MvcDynamicOrientableList label
{
    display:inline;
}

/*  Used to style the list fields that can
    go in either vertical or horizontal directions
    (CheckboxList & RadioList) */
ul.MvcDynamicHorizontal li
{
    display:inline; /* causs list items to display horizontally */
    
    white-space:nowrap;
    /*margin-right:0.5em; /* provides spacing between input elements */
}

/* Other unused selectors. These should be self-explanatory by now. */
ul.MvcDynamicVertical {}
ul.MvcDynamicVertical li {}
label.MvcDynamicCheckboxPrompt {}

/*  You can view html source or use a DOM inspector 
    to figure out how to select elements to style them. */
   
 
select.expand {
    width: auto;
}


a.watch
 {
 border: 1px #04aeda solid;
 margin-top: 15px;
 padding: 3px 33px;
 color:#fff;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-size: 10pt;
 font-weight:bold;
 width: 148px;
 cursor:pointer;
 background: #04aeda; 
 }
 
.draft
{
   background-image:url('../images/DRAFT.png');
    background-repeat:no-repeat;
    background-position: center top;
    background-size: 100%;
    background-origin:content-box;
    background-repeat:repeat-y;
   
}
 
 .final
{
     background-image: none !important;
}

/*#header h1:after
{
    content:"DRAFT";
    color:Blue
}*/
.TestHeader h1:after
{
   /* content:"DRAFT";
    color:Blue*/
    
    }
    
button.dialogbtn
 {
 border: 1px #4e9689 solid !important;
 /*-moz-border-radius: 10px !important;
 -webkit-border-radius: 10px !important;
 -khtml-border-radius: 10px !important;
 border-radius: 10px !important;*/
 padding: 3px 5px 3px 5px !important;
 color:#ffffff !important;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
 font-size: 10pt !important;
 font-weight:bold !important;
 width: 150px !important;
 border: 1px solid #4e9689 !important;
 background: #00827e !important; 
 /*background: rgba(195,255,104,0.6) !important; 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3) !important;
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3) !important;
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3) !important;
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3) !important;*/
  /*behavior: url('../Scripts/PIE.htc');*/
 }
 
 #codebk 
 {
     position:relative; 
     background-image:url('../images/codebk.png'); 
     background-repeat:no-repeat; 
     background-size:283px;
     left:44.5%;
     margin: 0 auto; 
     font-size:10pt; 
     text-align:center; 
     color:#af463a; 
     display:inline-block; 
     line-height:110%;
     padding: 8px 22px 20px 55px;
      
     }
 
 #passcodebox
 {
     position:relative; 
     left:45%;display: inline-block;
     background:#e5f2f2; 
     border:1px solid #339a98; 
     padding: 8px 8px; 
    /* border-radius:10px; 
     -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
     -khtml-border-radius: 10px !important;*/
     font-size: 16pt; 
     font-weight:bold; 
     text-align:center; 
     width: 70px; 
     margin:5px auto 20px;
     color: #555555;
 }

.surveyLinkTxtArea {
    background:#e5f2f2; 
    border:1px solid #339a98;

}

.spPassCodeSpan {
    background:#e5f2f2; 
    border:1px solid #339a98;
}

.ui-priority-secondary { opacity: 1.0 !important; filter:Alpha(Opacity=100) !important; font-weight: bold !important; color: #3f3f3f !important;}
.ui-priority-primary { color: #3f3f3f !important;}

/*printbottom button.ui-state-default { color:#1c94c4 !important;}*/


#ui-datepicker-div {z-index:6000 !important;}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }

.ui-widget-header { border: 1px solid #4e9689/*{borderColorHeader}*/; background: #80c0be/*{bgColorHeader}url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }


.ui-datepicker {
    width:12.4em!important;
}

/*page.css custom style for themes*/

.pages span.current {
    border: 1px solid #4e9689;
    font-weight: bold;
    background: #339a98;
    color: #fff;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/
}

.pages a {
    border: 1px solid #4e9689;
    text-decoration: none;
}

.pages a:hover {
    border-color: #244640;
    cursor: pointer;
    opacity:0.8;
}


.pages a {
	color:#244640;
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #4e9689;
    background: #fff;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/
    text-decoration:none;
}

#recordstable table {
    /*width: 100%; */
    border-spacing: 1px !important;
    border-collapse: collapse;
    min-width: 780px;
    /*border: 1px solid #2878ec; */
}

#recordstable tr:nth-of-type(even) {
    background: #e0ebfc;
}

#recordstable th {
    background: white;
    color: #49908e;
    font-size: 10pt;
    font-weight: lighter;
    border-bottom: 3px solid #2878ec !important;
}

#recordstable td, #recordstable th {
    padding: 6px;
    /*border-bottom: 1px solid #2878ec; */
    text-align: left;
    vertical-align: top;
    max-width: 130px;
}




#recordscontent button.record {
    border: 1px #339a98 solid;
    /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
    padding: 3px 5px 3px 5px;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    width: 150px;
    background: #339a98;
    /*border: 1px solid rgba(0,0,0,0.5);
 background: rgba(195,255,104,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5),  0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
    /*behavior: url('../Scripts/PIE.htc');*/
}

button.record {
    background-image: url('../images/addnew.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 8px center;
    /*width: 155px;*/
    height: 35px;
    padding: 4px 12px 4px 33px;
}

#recordscontent button.edit {
    border: 1px #339a98 solid;
    /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
    padding: 3px 5px 3px 5px;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    width: 75px;
    background: #339a98;
    /*border: 1px solid rgba(0,0,0,0.5);
 background: rgba(195,255,104,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5),  0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
    /*behavior: url('../Scripts/PIE.htc');*/
}


h2.surveyTitle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 21pt;
    margin: 0px 0px 0px 0px;
}

