html, body 
 { 
 margin:0; 
 padding:0; 
 height: 100%;
 } 

body 
 {
 background-image:url('../images/bgMainDropShadowGradient.png');
 }
 
#container
 {
 width: 920px;
 /*min-width: 820px;*/
 min-height: 99%;
 position:relative;
 margin: auto;
 background-color: #fff;
 color: #333;
 border: 1px solid #4e9689;
 line-height: 130%;
 -moz-border-radius: 10px;
 border-radius: 10px;
 -moz-box-shadow: 10px 10px 5px #888;
 -webkit-box-shadow: 10px 10px 5px #888;
 box-shadow: 10px 10px 5px #bfbfbf;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }

#header
 {
 padding: 0.5em 0.5em 1.0em .5em;
 background-color: #bfe7ea;
 border-bottom: 1px solid #4e9689;
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 -moz-border-radius-topleft: 10px;
 -moz-border-radius-topright: 10px;
 }

#header h1
 {
 padding: 0;
 margin: 0;
 font-size: 16pt;
 font-weight: bold;
 }

#content
 {
 clear:both;
 margin-left: 0.5em;
 margin-right: 0.5em;
 padding: 1em;
 font: 10pt;
 padding-bottom:80px; 
 }

#content h2
 {
 font-size: 12pt;
 font-weight: bold;
 }

#infobox
 {
 /*margin-top: -1em;*/
 padding: 0.5em 0.5em 0.5em .5em;
 font-size: 9pt;
 margin-bottom: 1em;
 background: #87d69b;
 }
/*DIv Style for Splash Page*/
#surveyno
 {
 float: left;
 width: 33%;
 white-space:normal; 
 word-wrap: break-word;
 }

#orgn
 {
 float: left;
 width: 33%;
 white-space:normal;
 word-wrap: break-word;
  text-align:center;
 }

#dept
 {
 float: right;
 width: 33%;
 text-align: right;
 white-space:normal;
 word-wrap: break-word;
 }
/*---*/
/*Div Style for pagination*/
#exit
 {
 float: right;
 width: 12%;
 vertical-align:middle;
 }
/*---*/
/*Div Style for Previous, Save, Continue*/
#prev
 {
 float: left;
 width: 33%;
 }

#save
 {
 float: left;
 width: 33%;
 margin: auto;
 }

#next
 {
 float: right;
 width: 33%;
 }
/*---*/

.boldlabel
 {
 font-weight: bold;	
 }
 
#nav
 {
 width: 92%;
 border-top: 1px solid #244640;
 padding: .5em;
 position:absolute;
 bottom:80px;
 }

#footer
 {
 position:absolute;
 bottom:5px;
 width: 98%;
 padding: .5em;
 color: #333;
 background-color: #f4fce8;
 border-top: 1px solid #4e9689;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
 -moz-border-radius-bottomleft: 10px;
 -moz-border-radius-bottomright: 10px;
 height: 40px;
 vertical-align:middle;
 -moz-box-shadow: -1px -1px 0px 0px #888;
 -webkit-box-shadow: 1px -1px 0px 0px #888;
 box-shadow: 0px -1px 1px 0px #888;
  behavior: url(PIE.htc);
 
 }

#content h2 { margin: 0 0 .5em 0; }

#footleft
 {
 float:left;
 width: 45%;
 }

#footright
 {
 float: right;
 }

button.exitsurvey:hover,  button.save:hover, button.prev:hover, button.next:hover, button.begin:hover
 {
 cursor: pointer;
 opacity: 0.8;
 }

img.button 
 {
 vertical-align:text-top;
 }
 
button.save, button.prev, button.next, button.exitsurvey, button.begin
 {
 border: 1px #4e9689 solid;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;
 padding: 3px 5px 3px 5px;
 color:#244640;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 font-size: 10pt;
 font-weight:bold;
 border: 1px solid rgba(0,0,0,0.5);
 background: rgba(195,255,104,0.6);
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 behavior: url(PIE.htc); 
 }

button.exitsurvey
 {
 background: rgba(255,255,255,0.9);
 width: 80px;
 padding: 2px;
 font-size: 8pt;
 font-weight:bold;
 height: 26px;
 }
 
 button.begin
 {
 display: block;
 font-size: 12pt;				
 font-weight: bold;
 letter-spacing: 1px;
 padding: 4px 10px 8px 10px;
 margin: 0 auto;
 width: 200px;
 height: 40px;
 text-align: center;
 }

.success
 {
 border: 1px solid #4d8000; 
 background: #e6ffbf; 
 margin-bottom: 10px; 
 margin-left: 0.5em; 
 margin-right: 0.5em; 
 padding: 5px;
 font-size: 10pt;
 font-weight: bold;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;

 }