@charset "utf-8";
/* CSS Document */

/* Added CSS for Theme Styling */

div legend {
        background-color: #d2dfee;
		color: #3f3f3f;
		padding: 1px 5px;
		font-size:13px !important;
        margin-left:-15px;
		/*margin-top:-5px;
		border-radius: 5px;*/
        text-wrap:normal;
		
}
div legend span {
background-color: transparent;    
}


/* might need to change this on main EWE CSS*/


select {
    font-size:12px!important;
    padding-left:5px;
}


/* ------------------------------------------ */


input {
    border: 1px solid #B3B3B3;
	/*height: 21px;*/
    font-size:12px!important;
}

button.submits
{
  background-image: url('../images/checkmark.png') !important;
  background-position:10px center !important;
  background-repeat:no-repeat !important;
    /*padding-left:20px;*/
}

select::-ms-expand {
    display: none;
}  

select {

  /* make arrow and background */

 background-image:
    linear-gradient(45deg, transparent 50%, #1d60ac 50%),
    linear-gradient(135deg, #1d60ac 50%, transparent 50%),
    linear-gradient(to right, #1d60ac, #1d60ac);
  background-position:
    calc(100% - 9px) calc(0.6em + 0px),
    calc(100% - 4px) calc(0.6em + 0px),
    calc(100% - 1.5em) 0.28em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1em;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #b3b3b3;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  /*padding: 0.5em 3.5em 0.5em 1em;*/

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  height:20px;
}





select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


div.MvcFieldWrapper {padding-bottom:10px !important}

/* Changed CSS for Theme Styling */
div fieldset
{
  border:1px solid #4a80bd;
  padding:2px;
  /*border-radius: 6px;*/
  padding-top:-100px;
	}


input[type=checkbox] label {
  display: inline;
  
}
input[type=checkbox]  {
  display: inline;
  ms-transform: scale(0); /* IE */
 -moz-transform: scale(0); /* FF */
 -webkit-transform: scale(0); /* Safari and Chrome */
 -o-transform: scale(0); /* Opera */

}

input[type=checkbox] + label:before {
  background-color: #ffffff;
  border: 1px solid #b3b3b3;  
  display: inline-block;
  transition-duration: 0.3s;
  width: 14px;
  height: 14px;
  content: '';
  margin-left: -20px;
  margin-right:5px;
}

input [type=checkbox][disabled] + label:before {
background-color: #b7b8b9;

}

input[type=checkbox]:checked + label:before {
    background-color: #ffffff;
       
    background-image: url('../images/checkmark1.png');
}

textarea {
	border: 1px solid #b3b3b3; 
	
	}

input[type=text]:focus, textarea:focus, select:focus{ border: 1px solid #ffd851 !important;  background-color: #ffffce; outline: 0px solid rgba(255, 216, 81, 43) !important; }
input[type=checkbox]:focus, input[type=radio]:focus  { outline:2px solid rgba(255, 216, 81, 43) !important; background-color: #ffffce;}
input[type=checkbox]:checked{background-color: #ffffce;}
input[type="checkbox"] { min-width:13px !important;}
input[type=text]:disabled, textarea:disabled, select:disabled { color:#3f3f3f; background-color:#c5c5c5; }
#recordstable table {
    /*width: 100%; */
    border-spacing: 1px !important;
    border-collapse: collapse;
    min-width: 780px;
    /*border: 1px solid #2878ec; */
}

#recordstable tr:nth-of-type(even) {
    background: #e0ebfc;
}

#recordstable th {
    background: white;
    color: #2878ec;
    font-size: 10pt;
    font-weight: lighter;
    border-bottom: 3px solid #2878ec !important;
}

#recordstable td, #recordstable th {
    padding: 6px;
    /*border-bottom: 1px solid #2878ec; */
    text-align: left;
    vertical-align: top;
    /*max-width: 130px;*/
}




#recordscontent button.record {
    border: 1px #4a80bd solid;
    /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
    padding: 3px 5px 3px 5px;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    width: 150px;
    background: #1d60ac;
    /*border: 1px solid rgba(0,0,0,0.5);
 background: rgba(195,255,104,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5),  0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
    /*behavior: url('../Scripts/PIE.htc');*/
}

button.record {
    background-image: url('../images/addnew.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 8px center;
    /*width: 155px;*/
    height: 35px;
    padding: 4px 12px 4px 33px;
}

#recordscontent button.edit {
    border: 1px #4a80bd solid;
    /*-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 border-radius: 10px;*/
    padding: 3px 5px 3px 5px;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    width: 75px;
    background: #1d60ac;
    /*border: 1px solid rgba(0,0,0,0.5);
 background: rgba(195,255,104,0.6); 
 box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5),  0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
    /*behavior: url('../Scripts/PIE.htc');*/
}


h2.surveyTitle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 21pt;
    margin: 0px 0px 0px 0px;
}
















