
 
#container
{
    border: 1px solid #abafbc;
}
 
#header
{
    background: #4d75a4;
    background-image: linear-gradient(to bottom, #4e75a5, #4d75a4);
    -webkit-box-shadow: 0 -1px 0 rgba(77, 117, 164, 0.8) inset;
    -moz-box-shadow: 0 -1px 0 rgba(77, 117, 164,.8) inset;
    box-shadow: 0 -1px 0 rgba(77, 117, 164, 0.8) inset;
}

#header h1
{
    color: #fff; 
}

#infobox
{
    background:#eeeff3;
    background-image: linear-gradient(to bottom, #fbfbfc, #e6e7ed);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border-bottom: 1px solid #abafbc;
}

#footer 
{
   /* background-image: linear-gradient(to bottom, #e6e7ed, #fbfbfc );*/
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border-top: 1px solid #abafbc;
    background-color: #e6e7ed !important;
}

button
{
    background: #5C53AC !important;
    border: 1px solid #1F3B53 !important;
    color: #fff !important;
}

.pages span.current
{
    background: #5C53AC !important;
    border: 1px solid #1F3B53 !important;
}

.pages a 
{
    border: 1px solid #1F3B53 !important;
}

.ui-widget-header
{
    background: #5C53AC !important;
    border: 1px solid #1F3B53 !important;
    color: #fff !important;
}

.ui-widget
{
    border: 1px solid #1F3B53 !important;
}    

.ui-dialog-buttonpane 
{
    border-top: 1px solid #1F3B53 !important;
}  

.ui-dialog-buttonset button
{
    background: #5C53AC !important;
    border: 1px solid #1F3B53 !important;
    color: #fff !important;
    height: 30px;
}    

button.save 
{
    background-image: url('../images/save.png') !important;
    background-position: 10px center !important;
    background-repeat: no-repeat !important;
    height: 30px;
}

button.savetop
{
   
    height: 30px;
}

button.next 
{
    background-image: url('../images/arrow_right.png') !important;
    background-position: 84px center !important;
    background-repeat: no-repeat !important;
    height: 30px;
}

button.prev 
{
    background-image: url('../images/arrow_left.png') !important;
    background-position: 10px center !important;
    background-repeat: no-repeat !important;
    height: 30px;
}

button.exitsurvey
{
    background: #E5E5E5 !important;
    color: #3f3f3f !important;
    height:29px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
} 

button.printbottom
 {
   background: #E5E5E5 !important;
    color: #3f3f3f !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    height: 30px;
 }
 
 .ui-priority-secondary { color: #fff !important;}
.ui-priority-primary { color: #fff !important;}

button.copylink 
{
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    color: #0A2695 !important;
}

button.submits 
{
    height: 30px;
}  

.LogHead
{
     background: #5C53AC !important;
     color: #fff !important;
     border-bottom: 1px solid #1F3B53 !important;
} 

.Logsin
{  
  border: 1px solid #1F3B53 !important;
}

a.returnto
 {
    border: 1px solid #1F3B53 !important;
     color: #fff !important;
      
     background: #5C53AC !important;
}
