
 
#container
{
    border: 1px solid #abafbc;
}
 
#header
{
    background: #4d75a4;
    background-image: linear-gradient(to bottom, #4e75a5, #4d75a4);
    -webkit-box-shadow: 0 -1px 0 rgba(77, 117, 164, 0.8) inset;
    -moz-box-shadow: 0 -1px 0 rgba(77, 117, 164,.8) inset;
    box-shadow: 0 -1px 0 rgba(77, 117, 164, 0.8) inset;
}

#header h1
{
    color: #fff; 
}

#infobox
{
    background-image: linear-gradient(to bottom, #fbfbfc, #e6e7ed);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border-bottom: 1px solid #abafbc;
}

#footer 
{
    background-image: linear-gradient(to bottom, #e6e7ed, #fbfbfc );
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border-top: 1px solid #abafbc;
}

button
{
    background: #5C53AC !important;
    border: 1px solid #1F3B53 !important;
    color: #fff !important;
}

.pages span.current
{
    background: #5C53AC !important;
    border: 1px solid #1F3B53 !important;
}

.pages a 
{
    border: 1px solid #1F3B53 !important;
}

.ui-btn-up-save23
 {
     border: 1px solid #1F3B53 !important;
     background-color: #5C53AC !important;
 }

a.exitsurvey
 {
    border: 1px solid #1F3B53 !important;
 }

.ui-widget-header
{
    background: #5C53AC !important;
    border: 1px solid #1F3B53 !important;
    color: #fff !important;
}

.ui-widget
{
    border: 1px solid #1F3B53 !important;
}    

.ui-dialog-buttonpane 
{
    border-top: 1px solid #1F3B53 !important;
}  

.ui-dialog-buttonset button
{
    background: #5C53AC !important;
    border: 1px solid #1F3B53 !important;
    color: #fff !important;
    height: 30px;
}    

button.copylink 
{
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    color: #0A2695 !important;
}

button.submits 
{
    height: 30px;
}

div[id*="groupbox"]
{ 
    color: #5C53AC !important;  
    border-bottom: 2px solid #5C53AC !important;
}

a.prev, a.next, a.save, .ui-btn-up-save1, .ui-btn-up-submit1, a.login {   
    border: 1px solid #1F3B53 !important;
    background-color: #5C53AC !important;
    color: #fff !important;
    text-shadow: none !important;
 }
 
 .ui-btn-up-e, .ui-btn-hover-e
 {
    border: 1px solid #1F3B53 !important;
    background: #5C53AC !important;
    color: #fff !important;
    text-shadow: none !important;
 }

 
 .ui-btn-down-e
 {
    border: 1px solid #1F3B53 !important;
    background: #ecd473 !important;
    color: #fff !important;
    text-shadow: none !important;
 }
 
 
 
 .message 
 {
     margin-top: 2px;
 }