@{
    ViewBag.Title = "Splash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <div id="infobox">

    </div>
    <div>
     <b>@ViewData["Message"]</b> <br />
    </div>
    <div id="content">
        <h2>
            Welcome to Epi Info Survey. This is the 2nd sprint.</h2>
        <p>
        </p>
       
    </div>
