<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <services>
      <service
             name="Epi.Web.SurveyManager.Service"
             behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint
               address=""
               binding="wsHttpBinding"
               contract="Epi.Web.SurveyManager.ISurveyManager"/>
        <endpoint
               contract="IMetadataExchange"
               binding="mexHttpBinding"
               address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
